.input{
  width: 97%;
  height: 40px;
  margin-bottom: 50px;
}
.input input{
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  transition: 0.3s;
}
.input input:hover{
  box-shadow: 4px 5px 5px #ccc;
}
.input input:focus{
  outline: none;
  box-shadow: 4px 5px 5px #ccc;
}