.button button{
  background: #3BC3DB;
  color: #fff;
  border: 1px solid #fff;
  line-height: 40px;
  height: 40px;
  border-radius: 5px;
  padding: 0px 30px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}
.button button:hover{
  color: #3BC3DB;
  background: #fff;
  border: 1px solid #3BC3DB
}
.button button:focus{
  outline: none;
}