
.pass {
  display: flex;
  position: relative;
}
.pass .svg {
  position: absolute;
  right: 20px;
  height: 47px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 16px;
}
.pass .svg:focus {
  outline: none;
}
.wrap-input{
  position: relative;
  height: 90px;
}
.valid-text-email{
  position: absolute;
  left: 2px;
  bottom: -33px;
  color: red;
  font-size: 14px;
}
.valid-text{
  position: absolute;
  bottom: 20px;
  font-size: 14px;
  left: 2px;
  color: red;
}