.App {
  text-align: center;
  width: 400px;
  margin: auto;
  border: 3px solid #3BC3DB;
  padding: 35px;
  margin-top: 50px;
  border-radius: 5px;
  background: #f5f5f5; 
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
}
